* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "AeroportBlack";
  src: url(".../../assets/aeroport-2/Aeroport-black.otf") format("opentype");
}

body {
  font-family: "AeroportBlack", sans-serif;
}
